.deleteReviewButtonDiv {
  background-color: rgb(78, 77, 77);
  color: white;
  box-shadow: 5px 5px #000000;
  height: 30px;
  width: 70px;
  margin: 5px;
}

.updateReviewButtonDiv {
  background-color: rgb(78, 77, 77);
  color: white;
  box-shadow: 5px 5px #000000;
  height: 30px;
  width: 70px;
  margin: 5px;
  float: left;
}

.deleteYesbutton {
  background-color: red;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  height: 50px;
}

.deleteNobutton {
  background-color: rgb(74, 72, 72);
  color: white;
  display: block;
  width: 100%;
  height: 50px;
}

.delete-container {
  margin: 20px;
}

.manageReviewPageDiv {
  margin-left: 100px;
}
