.spotImage {
  height: 80%;
  width: 100%;
}

.allSpots {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 45px;
  padding: 10px;
}

.spotItem {
  padding: 10px;
}

.location {
  margin-bottom: 10px;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 0.5fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.image0 {
  height: 100%;
  width: 100%;
  grid-area: 1 / 1 / 3 / 3;
}

.image1 {
  height: 70%;
  width: 100%;
  grid-area: 1 / 3 / 2 / 4;
}

.image2 {
  height: 70%;
  width: 100%;
  grid-area: 1 / 4 / 2 / 5;
}

.image3 {
  height: 70%;
  width: 100%;
  grid-area: 2 / 3 / 3 / 4;
}

.image4 {
  height: 70%;
  width: 100%;
  grid-area: 2 / 4 / 3 / 5;
}

.calloutBox {
  border: 1px solid black;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  grid-area: 1 / 3 / 3 / 4;
}

.reserve-button {
  width: 250px;
}

.hostDescriptionCalloutBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.host {
  grid-area: 1 / 1 / 2 / 2;
}

.description {
  grid-area: 2 / 1 / 6 / 3;
}

.reviews-container {
  border-top: 1px solid rgb(0, 0, 0);
}

.errors {
  color: red;
  font-size: 12px;
  height: 15px;
  width: 220px;
  margin: 3px;
}

.createSpotForm {
  margin-left: 30%;
}

.nameSection {
  margin-top: 20px;
  border-top: 1px solid rgb(0, 0, 0);
}

.priceSection {
  margin-top: 20px;
  border-top: 1px solid rgb(0, 0, 0);
}

.imageSection {
  margin-top: 20px;
  border-top: 1px solid rgb(0, 0, 0);
}

.stateLabel {
  display: inline-block;
}

.reserve-button {
  background-color: rgb(219, 26, 26);
  color:white;
}

.postReviewClassName{
  background-color: rgb(78, 77, 77);
  color:white;
  box-shadow: 5px 5px #000000;
  height:30px
}

.reviewDiv{
  margin-top: 30px;
}

.postReviewButtonDiv{
  margin-top: 10px;
}

.show {
  display: block;
  transition: 800ms;
  opacity: 1;

}

.show.active {
  transform: translateY(100px) scale(0);
  opacity: 0;
}

.deleteYesButton {
  background-color: red;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  height: 50px;
}

.deleteNoButton {
  background-color: rgb(74, 72, 72);
  color: white;
  display: block;
  width: 100%;
  height: 50px;
}

.deleteSpotButtonDiv {
  margin: 20px;
}

input {
  float: left;
}
