form {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.loginButton {
  height: 40px;
  width: 100%;
  background: rgb(230, 78, 78);
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  margin-left: 10px;
  align-self: center;
}

.demoLoginButton {
  width: 50px;
  color: rgb(45, 63, 32);
  font-size: 1.1em;
  padding: 0;
  border: none;
  background: none;
  text-decoration: underline;
  margin-left: 10px;
}

button:hover {
  cursor: pointer;
}

.demoLoginButton {
  width: 200px;
}

.login-container {
  margin: 0px 30px 30px;
  background-color: white;
}

.error {
  color: red;
  font-size: 12px;
  height: 15px;
  width: 220px;
  margin: 3px;
}

input {
  background-color: rgb(188, 188, 246);
  width: 90%;
  display: block;
  float: left;
  float: right;
}

.loginH1Div {
  text-align: center;
}
