form {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

input {
  margin-bottom: 20px;
  margin-left: 20px;
  height: 30px;
  padding-left: 5px;
}

button {
  height: 40px;
  width: 200px;
  background: rgb(230, 78, 78);
  color: rgb(255, 255, 255);
  font-size: 1.1em;
}

button:hover {
  cursor: pointer;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
