.homeNav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.beforeLogin {
  padding: 0
}

.afterLogin {
  gap: 5%;
}

.profile-dropdown>li {
  margin: 0;
  display: block;
  background-color: white;
}

.profile-dropdown>li:hover {
  background-color: lightgray;
}

.logo {
  width: 100px;
  margin: auto;
  position: absolute;
}

.hidden {
  display: none
}

.homeNav {
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
}

.homeNav>li {
  padding: 10px 20px 10px 0px;
  list-style-type: none
}

button {
  width: 50px
}

.logoutButton {
  width: 80px
}
