.homeNav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.beforeLogin {
  padding: 0
}

.afterLogin {
  gap: 5%;
}

.profile-dropdown>li {
  margin: 0;
  display: block;
  background-color: white;
}

.profile-dropdown>li:hover {
  background-color: lightgray;
}

.logo {
  width: 100px;
  margin: auto;
  position: absolute;
}

.hidden {
  display: none
}

button {
  width: 50px
}

.logoutButton {
  width: 80px
}

.loginSignup {
  list-style-type: none;
}
